.newProj, .submit, .cancel, .addTask{
  background-color: transparent;
  padding:3px 0;
  border-radius: 10px;
  margin: 15px;
  width: 200px;
  cursor: pointer;
}

.newProj:hover,
.submit:hover,
.cancel:hover,
.projInput:hover,
.addTask:hover{
  scale: 1.10;
}

.heading{
  background-color: black;
  color: white;
  text-align: center;
  border-radius: 10px;
  transition: background-color 0.15s, color 0.15s;
  margin: 10px;
}

.heading:hover{
  background-color: transparent;
  color: black;
}

.projInput{
  width: 300px;
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 2px solid rgb(204, 202, 202);
  border-radius: 4px;
  margin: 10px;
}

.submit,
.cancel,
.addTask{
  background-color: black;
  border: 1px solid gray;
  color: white;
  width: 150px;
  margin: 5px;
}

.cancel{
  background-color: red;
  border:1px solid rgb(122, 27, 27);
}

.submit:hover{
  background-color: green;
}
.addTask{
  max-width: 130px;
  max-height: 35px;
 
}
.projDiv{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.popupBox {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.projContainer{
  padding: 10px;
  border-left: 6px solid orange;
  border-radius: 10px;
  margin: 10px;
  border-right: 1px solid black;
    border-bottom: 1px solid black;
        border-top: 1px solid black;

  width: 500px;

}

.taskDiv{
  padding: 10px;
  background-color: black;
  border-radius: 5px;
  width: 400px;
  display: flex;
  flex-direction: column;
  margin: 10px;
}

