.sidebar{
  position: fixed;
   background-image: url("../pictures/white.webp");
  border-top-right-radius: 10px;
  width: 300px;
  height: 100vh;
  top: 0;
  padding: 10px;
}

.projPara{
    padding: 15px;
    font-weight: bold;
    font-size: 1.2rem;
}

.headingProj{
      border-bottom: 1px solid rgb(208, 203, 203);
      padding: 10px;
    text-align: center;
      font-family: 'Courier New', Courier, monospace;
      margin-bottom: 10px;
}

.sidebarEntry{
  display: grid;
grid-template-columns: 200px 40px 10px;
  font-size: 1.3rem;
}

.sidebar-delete{
  border: none;
   cursor: pointer;
   background-color: transparent;
}

.sidebarEntry:hover{
  background-color: #ddd;
  border-radius: 10px;
}

.edit{
  border: none;
  background-color: transparent;
  cursor: pointer;
}