.sidebar{
  position: fixed;
   background-image: url("../pictures/white.webp");
  border-top-right-radius: 10px;
  width: 300px;
  height: 100vh;
  top: 0;
  padding: 10px;
}

.projPara{
    padding: 15px;
    font-weight: bold;
    font-size: 1.2rem;
}

.headingProj{
      border-bottom: 1px solid rgb(208, 203, 203);
      padding: 10px;
    text-align: center;
      font-family: 'Courier New', Courier, monospace;
      margin-bottom: 10px;
}

.sidebarEntry{
  display: grid;
grid-template-columns: 200px 40px 10px;
  font-size: 1.3rem;
}

.sidebar-delete{
  border: none;
   cursor: pointer;
   background-color: transparent;
}

.sidebarEntry:hover{
  background-color: #ddd;
  border-radius: 10px;
}

.edit{
    position: relative;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.sidebar-delete::after{
    content: "Delete Project";  
    position: absolute;
  bottom: 88%;  
  left: 88%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 5px 8px;
  border-radius: 4px;
  white-space: nowrap;
  font-size: 12px;
  
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease 1.0s;
  z-index: 10;         
}
.edit::after {
  content: "Edit Project Name";           
  position: absolute;
  bottom: 80%;  
  left: 50%;
  transform: translateX(-50%);
  opacity: 0.8;
  background-color: #333;
  color: #fff;
  padding: 5px 8px;
  border-radius: 4px;
  white-space: nowrap;
  font-size: 12px;
  
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease 1.0s;
  pointer-events: none;       
  z-index: 10;
}

.sidebar-delete:hover::after,
.edit:hover::after {
  opacity: 1;
  visibility: visible;
}
